<div class="container">
	<section>
		<article>
			<h1><%=formation.member%></h1>
			<div class="row">
				<div class="col-md-4">
					<img
						src="/img/<%= formation.picture %>"
						class="img-thumbnail"
						alt="Fleetwood Mac with <%= formation.member %> formation"
					/>
				</div>
				<div class="col-md-8 pl-lg-4">
					<h2>Summary of this fase</h2>
					<p>
						<%= formation.summary %>

		        </p>
						<hr /> 
						<p>					
            <ul>
							<% for(const detail of formation.details) {%>
								<li><strong><%=detail.year%>:</strong> <%=detail.fact%></li>
							<% } %>
            </ul>
					</p>
				</div>
			</div>
			</article>
			<article class="mt-3">
			<h2>Albums from this phase</h2>
			<div class="row">
				<% for(const album of formation.albums) {%>
					<a href="/albums/<%= album.name %>">
						<div class="col-md-4">
							<img
							src="/img/<%= album.cover %>"
							class="rounded"
							alt="Cover of <%= album.name %>"
							/>
						</div>
					</a>
					<% } %>				
			</div>
		</article>
	</section>
</div>
<!-- /container -->
