<div class="container">
	<section>
		<h1 class="d-none d-sm-block display-4"><%= homepage.header %></h1>
		<div class="row">
			<div class="col-lg-6">
				<img
					src="./img/<%= homepage.picture %>"
					class="img-thumbnail"
					alt="<%= homepage.pictureAlt %>"
				/>
			</div>
			<div class="col-lg-6">
				<p><%- homepage.description %></p>
			</div>
		</div>
	</section>

	<!--  FORMATIONS -->
	<section class="mt-2">
		<a href="/formations">
			<h2>Formations</h2>
		</a>
		<div class="row">
			<% for(const member of membersList) { %>
			<div class="col-md-4">
				<a href="/formations/<%=member.shortname%>">
					<h3><%= member.member %> Era</h3>
					<img
						class="img-thumbnail"
						src="/img/<%=member.picture%>"
						alt="Photo of <%=member.member%> Era"
					/>
				</a>
			</div>
			<% } %>
		</div>
	</section>

	<!-- ALBUMS -->
	<section class="mt-2">
		<a href="/albums">
			<h2>Albums</h2>
		</a>
		<div class="row">
			<% for(const album of albumsList) { %>
			<div class="col-md-4">
				<a href="/albums/<%= album.name %>">
					<h3><%= album.name %></h3>
					<img
						class="img-thumbnail"
						src="/img/<%=album.cover%>"
						alt="Photo of <%=album.name%> Era"
					/>
				</a>
			</div>
			<% } %>
		</div>
	</section>

	<hr />

	<aside class="d-flex justify-content-end">
		<blockquote>
			<q class="font-italic"><%- homepage.blockquote %> </q>
			<br />
			<cite class="font-weight-bold"><%- homepage.cite %></cite>
		</blockquote>
	</aside>
</div>
<!-- /container -->
